{% extends 'bases.html'%}
{% block title%} Login {% endblock %}

{% block content %}<div>
  <h1>Login</h1>
<form method='post'>
  {% csrf_token %}
  {{form.as_p}}
  <button type='submit'>Login</button>
  <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
</form>
</div>{% endblock %}