{% extends 'base.html'%}
{% block title%} Sign Up {% endblock %}

{% block content %}<div>
  <h1>Sign-Up</h1>
<form method='post'>
  {% csrf_token %}
  {{form.as_p}}
  <button type='submit'>Signup</button>
  <p>Have an account? <a href="{%url 'login'%}">Login</a></p>
</form>
</div>{% endblock %}