{% extends 'base.html'%}
{% block title%}Account list{%endblock%}
{% block content %}
<table>
  <thead>
    <th>Name</th>
    <th>Number</th>
    <th>Number of Receipts</th>
  </thead>
  <tbody>
    {% for account in accounts %}
    <tr><td>{{account.name}}</td><td>{{account.number}}</td><td>{{account.receipts.all|length}}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}