{% extends 'base.html'%}
{% block title%}Category list{%endblock%}
{% block content %}
<table>
  <thead>
    <th>Name</th>
    <th>Number of Receipts</th>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr><td>{{category.name}}</td><td>{{category.receipts.all|length}}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}