{% extends 'base.html' %}
{%block title%}Receipts{% endblock %}
{%block content%}
    <h1>
      My Receipts
    </h1>
    <a href="{% url 'create_receipt'%}">Create A Receipt</a>
    <table>
        <thead>
          <th>Vendor</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Category</th>
          <th>Account</th>
        </thead>
        {% for receipt in receipts %}
        <tbody>
          <tr>
            <td>{{receipt.vendor}}</td>
            <td>{{receipt.total}}</td>
            <td>{{receipt.tax}}</td>
            <td>{{receipt.date|date:'m/d/y'}}</td>
            <td>{{receipt.category.name}}</td>
            <td>{{receipt.account.name}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
{% endblock %}